<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3"> Comments (17,234) </h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0"> John Doe </h6>
            <small class="text-danger"> LAST UPDATED - MAR 20, 2023 </small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veniam, in, blanditiis dolor voluptas placeat dicta explicabo aspernatur possimus sit exercitationem. Architecto numquam quam facilis ut, quibusdam blanditiis deleniti a.
            </div>

            <!--<a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>-->

            <div class="btn-group" role="group" aria-label="Comment actions">
                <a href="#" class="btn btn-outline-primary btn-sm mt-1">Reply</a>
                <a href="#" class="btn btn-outline-secondary btn-sm mt-1 ml-3">View Reply</a>
            </div>

            <hr>

        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0"> John Doe </h6>
            <small class="text-danger"> LAST UPDATED - MAR 20, 2023 </small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veniam, in, blanditiis dolor voluptas placeat dicta explicabo aspernatur possimus sit exercitationem. Architecto numquam quam facilis ut, quibusdam blanditiis deleniti a.
            </div>

            <!--<a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>-->

            <div class="btn-group" role="group" aria-label="Comment actions">
                <a href="#" class="btn btn-outline-primary btn-sm mt-1">Reply</a>
                <a href="#" class="btn btn-outline-secondary btn-sm mt-1 ml-3">View Reply</a>
            </div>

            <hr>

        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0"> John Doe </h6>
            <small class="text-danger"> LAST UPDATED - MAR 20, 2023 </small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veniam, in, blanditiis dolor voluptas placeat dicta explicabo aspernatur possimus sit exercitationem. Architecto numquam quam facilis ut, quibusdam blanditiis deleniti a.
            </div>

            <!--<a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>-->

            <div class="btn-group" role="group" aria-label="Comment actions">
                <a href="#" class="btn btn-outline-primary btn-sm mt-1">Reply</a>
                <a href="#" class="btn btn-outline-secondary btn-sm mt-1 ml-3">View Reply</a>
            </div>

            <hr>

        </div>

    </div>
</div>
